html
    include includes/head.pug
    body.home
        include includes/header.pug
        .container 
            h1.bd-title!= message
            p.bd-lead Texto de relleno Home
        include includes/footer.pug